/* stylelint-disable scss/at-rule-no-unknown */
/* stylelint-disable hue-degree-notation */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --size: 0.85em;
  --clr-primary: #00decf;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

body {
  background-image: linear-gradient(
    to left,
    #49e9c8,
    #38ddc6,
    #28d0c2,
    #1ac4be,
    #10b7b8,
    #0eacb2,
    #12a0ac,
    #1995a4,
    #20899a,
    #267d90,
    #2b7185,
    #2e6579
  );
  background-size: cover;
  height: 100vh;
}

/**
  Custom checkboxes 
*/

.custom-checkbox {
  display: block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid var(--clr-primary);
  border-radius: 50%;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.task:hover .custom-checkbox,
[type='checkbox']:focus + label .custom-checkbox {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: var(--clr-primary);
  cursor: pointer;
}

[type='checkbox']:checked + label .custom-checkbox {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  box-shadow: inset 0 0 0 2px white;
}

[type='checkbox']:checked + label {
  opacity: 0.5;
}
